*{
    font-family: 'Montserrat';
}
#imgPlatillo{
    height: 300px;
    background-image: url('../images/TacosTripa.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

#imgProducto{
    height: 300px;
    background-image: url('../images/cocaCola.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

#imgAdd{
    float: left;
}

